services:
    app:
        build: .
        ports:
            - "3000:3000"
            - "3001:3001"
        volumes:
            - .:/app
            - /app/node_modules
            - /app/web-gui/node_modules
            - /app/web-gui/.next
        environment:
            - NODE_ENV=production
